:root {
  --text-green: #98ff98;
  --button-blue: #3498db;
  --background-grey: #222222;
  --white: #fffff0;
  --grey-icon: #3f3f3f;
  --mobile-hero: 64px;
  --mobile-text: 16px;
  --mobile-title: 40px;
}

* {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-grey);
  color: var(--white);
  font-size: var(--mobile-text);
}

a {
  text-decoration: none;
}

.svg {
  background-color: var(--grey-icon);
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  position: absolute;
  top: 24px;
  left: 24px;
}

input {
  background-color: var(--grey-icon);
  padding: 12px;
  width: calc(100% - 24px);
  border-radius: 8px;
  border: none;
}
textarea {
  background-color: var(--grey-icon);
  padding: 12px;
  width: calc(100% - 24px);
  border-radius: 8px;
  border: none;
}
button {
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--white);
  color: var(--background-grey);
  width: calc(100% - 48px);
  text-align: center;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100vw - 48px);
  padding: 24px;
  margin: 0;
}

#app {
  width: 100%;
}
