:root {
  --text-green: #98ff98;
  --button-blue: #3498db;
  --background-grey: #222222;
  --task-background: #ffae42;
  --button-danger: #d9534f;
  --task-font: #4a2800;
  --white: #fffff0;
  --grey-icon: #3f3f3f;
  --mobile-hero: 48px;
  --mobile-text: 16px;
  --mobile-title: 40px;
  --tablet-hero: 64px;
  --tablet-text: 18px;
  --tablet-title: 56px;
  --desktop-hero: 80px;
  --desktop-text: 20px;
  --desktop-title: 72px;
}
*:not(input):not(textarea):not([contenteditable='true']) {
  caret-color: transparent;
  user-select: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-grey);
  color: var(--white);
  font-size: var(--mobile-text);
}

a {
  text-decoration: none;
  color: inherit;
}

.svg {
  background-color: var(--grey-icon);
  padding: 12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  position: absolute;
  top: 24px;
  left: 24px;
}

input {
  background-color: var(--grey-icon);
  padding: 12px;
  width: calc(100% - 24px);
  border-radius: 8px;
  border: none;
  color: var(--white);
  caret-color: auto;
}

textarea {
  background-color: var(--grey-icon);
  padding: 12px;
  color: var(--white);
  width: calc(100% - 24px);
  border-radius: 8px;
  border: none;
  caret-color: auto;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: var(--white);
  color: var(--background-grey);
  width: calc(100% - 48px);
  text-align: center;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 24px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(100vw - 48px);
  padding: 24px;
  margin: 0;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
#app {
  width: 100%;
  margin-left: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 80px);
    padding: 40px;
  }
}

@media (min-width: 1025px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw - 96px);
    padding: 48px;
    margin: 0;
  }
}
